:root {
  --White: hsl(0, 100%, 100%);
  --Purple-100: hsl(275, 100%, 97%);
  --Purple-600: hsl(292, 16%, 49%);
  --Purple-950: hsl(292, 42%, 14%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Purple-100);
  font-family: "Work Sans", sans-serif;
  background-image: url("assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: 370px) {
    background-image: url("assets/images/background-pattern-desktop.svg");
  }

}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 455px;
  background-color: var(--White);
  border-radius: 6px;
  width: 300px;
  margin: 140px 0;
  padding: 20px;

  @media (min-width: 370px) {
    width: 350px;
    height: 450px;
  }

  @media (min-width: 500px) {
    width: 400px;
    height: 455px;
  }

  @media (min-width: 630px) {
    width: 450px;
    height: 450px;
  }

  @media (min-width: 760px) {
    width: 500px;
    height: 410px;
  }

}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--Purple-950);
  padding: 5px 0 15px 60px;
}

.star-icon {
  position: absolute;
  top: 190px;
  height: 25px;
}

.question-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--Purple-100);
  padding: 15px 0;
}

h4 {
  font-size: 16px;
  font-weight: 650;
  color: var(--Purple-950);
  display: inline-block;
  flex: 1;
}

.plus-icon {
  cursor: pointer;
  height: 30px;
  align-self: flex-end;
}

.minus-icon {
  display: none;
  cursor: pointer;
  height: 30px;
  align-self: flex-end;
}

p {
  color: var(--Purple-600);
  font-size: 14px;
  padding: 15px 0 10px;
  display: none;
  width: 100%;
}

.attribution { 
  font-size: 0.6875rem;
  text-align: center;
  position: relative;
  top: 435px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}